<!DOCTYPE html>
<html lang="zh-HK">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>見字飲水</title>
  <link rel="shortcut icon" type="image/png" href="img/fav.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.3.12/dist/vuetify.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div id="app">
    <v-app>
      <v-app-bar app :class="theme">
        <v-avatar class="white mr-3 elevation-8">
          <v-icon :class="text">
            mdi-cup
          </v-icon>
        </v-avatar>
        <v-toolbar-title>
          見字飲水
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" @click="showLogin" fab small text class="white--text" v-if="!isLoggedin">
              <v-icon>
                mdi-login
              </v-icon>
            </v-btn>
          </template>
          <span>登入</span>
        </v-tooltip>

        <v-span v-else>嗨，{{ user.nickname }}</v-span>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" @click="setting = true" fab small text class="white--text">
              <v-icon>
                mdi-cog
              </v-icon>
            </v-btn>
          </template>
          <span>設定</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn v-bind="attrs" v-on="on" @click="info = true" fab small text class="white--text">
              <v-icon>
                mdi-information-outline
              </v-icon>
            </v-btn>
          </template>
          <span>咩嚟</span>
        </v-tooltip>
      </v-app-bar>
      <v-main>
        <v-container fill-height class="justify-center">
          <v-btn fab class="drink-button white--text" :style="'background: linear-gradient(to bottom, #eee 0% , #eee ' + waterarea + ' , #4fc3f7 ' + emptyarea + ' , #4fc3f7 100% )'" @click="drinkWater()">
            <v-icon>
              mdi-cup
            </v-icon>
          </v-btn>

        </v-container>

        <div class="drank">
          <v-icon>
            mdi-cup-water
          </v-icon>
          一路以嚟你已經飲左{{ cupsOfWaterDrank }}杯水

        </div>
      </v-main>
      <v-dialog v-model="info" width="700">
        <v-card>
          <v-card-title>見字飲水</v-card-title>
          <v-card-text>你可以開住呢個網做其他野，我會每隔一段時間提你飲水。</v-card-text>
          <v-card-text>飲完水就㩒個掣。</v-card-text>
          <v-card-text>如果你早過我提你就飲左水，都可以㩒掣重置計時。</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn v-if="!noti" @click="grantNoti()">提我</v-btn>
            <v-btn @click="info = false" :class="theme">收皮</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="setting" width="700">
        <v-card>
          <v-card-title>
            設定
          </v-card-title>
          <v-card-text>
            <v-select v-model="drinkwaterInterval" label="隔幾耐飲一次水" :color="theme" :items="drinkwaterOption" item-value="interval" item-name="text"></v-select>
            <v-switch :color="theme" v-model="recurringNoti" label="提到你飲為止"></v-switch>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn :class="theme" @click="setting = false">收皮</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="loginDialog" width="700">
        <v-card>
          <form v-if="!showRegister">
            <v-card-title>
              飲水都要登入
            </v-card-title>
            <v-card-text>
              <v-text-field v-model="login.username" label="用戶名" :color="theme"></v-text-field>
              <v-text-field v-model="login.password" label="密碼" :color="theme"></v-text-field>
              <a @click="showRegister = true" :class="text">未飲過水？</a>
            </v-card-text>
            <v-card-actions class="pa-5">
              <v-btn @click="loginDialog = false">唔登入住</v-btn>
              <v-spacer></v-spacer>
              <v-btn :class="theme">見字登入</v-btn>
            </v-card-actions>
          </form>
          <form v-else @submit="">
            <v-card-title>
              飲水都要注冊
            </v-card-title>
            <v-card-text>
              <p>Q: 點解飲杯水都要注冊？</p>
              <p>A: 登入左之後可以跨裝置記錄你飲左幾多杯水，唔登入就淨係記本機。你諗你。</p>
              <v-text-field v-model="reg.username" label="用戶名" :color="theme"></v-text-field>
              <v-text-field v-model="reg.nickname" label="花名" :color="theme"></v-text-field>
              <v-text-field v-model="reg.password" label="密碼" :color="theme"></v-text-field>
              <v-text-field v-model="reg.confirmPassword" label="打多次密碼" :color="theme"></v-text-field>
            </v-card-text>
            <v-card-actions class="pa-5">
              <v-btn @click="showRegister = false">番去登入</v-btn>
              <v-spacer></v-spacer>
              <v-btn type="submit" :class="theme">見字注冊</v-btn>
            </v-card-actions>
          </form>
        </v-card>
      </v-dialog>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js" integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" integrity="sha256-KSlsysqp7TXtFo/FHjb1T9b425x3hrvzjMWaJyKbpcI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.12/dist/vuetify.min.js" integrity="sha256-/+w3ynrA1LYl14sh5PVOkdmRxnaac4QpDfOffL+UR/s=" crossorigin="anonymous"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
</body>
</html>
